@font-face {
    font-family: "PixelifySans-Regular";
    src: url("../fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf");
}

main {
    display: flex;
    justify-content: center;
    width: 80%;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#filtres {
    width: 20%;
    position: fixed;
    left:0;
    font-family: "PixelifySans-Regular", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#filtres h2 {
    text-align: center;
    background-color: #8b8d91;
    border: 5px solid #a4a6a7;
    border-bottom: 5px solid #969899;
    border-right: 5px solid #969899;
    color: #000000;
}

#filtres ul {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 0;
    background-color: #e7e9ed;
    border: 5px solid #a4a6a7;
    border-bottom: 5px solid #969899;
    border-right: 5px solid #969899;
    color: #000000;
}
#filtres li {
    display: flex;
    gap: 5px;
}

#generer-pdf-button {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}